<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsController controller (controllers.js)
  The FriendsController pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{debt.name}}">
  <ion-content class="padding">
    <img ng-src="{{debt.face}}" style="width: 64px; height: 64px">
    <p>
      {{debt.lastText}}
    </p>
  </ion-content>
</ion-view>
